<mat-toolbar color="primary" class="flex justify-content-between">

  <a routerLink="/blog" href="" mat-stroked-button>Blog</a>
  Ng Mat
  <div class="buttons-right">
    <div class="demo-section">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon-badge" matBadge="15" matBadgeColor="accent">notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>New car notification</button>
        <button mat-menu-item>You deposit 50€</button>
      </mat-menu>

    </div>
    <a routerLink="/login" href="" mat-stroked-button>Login</a>
  </div>
</mat-toolbar>

<router-outlet>